doctype html
html(lang=cv.attributes.locale)
  head
    link(href="https://fonts.googleapis.com" rel="preconnect")
    link(crossorigin href="https://fonts.gstatic.com" rel="preconnect")
    link(href="/bootstrap-grid.min.css" rel="stylesheet")
    link(href="/app.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;600;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet")
    link(href="/favicon.png" rel="shortcut icon" type="image/png")
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title Digital Léman CV
  body
    div(class="container")
      div(class="row justify-content-center")
        div(class="col col-xl-8")
          h1= __("My CV")
          div(class="cv-carousel carousel")
            img(class="cv-image cv-pivot-picture")
          h1= __("My information")
          form(v-cloak)
            div(class="row")
              //-div(class="col-12")
                if cv.attributes.picture.data
                  img(class="cv-image" src=cv.attributes.picture.data.attributes.url)
              div(class="row")
                div(class="col-12 col-sm-6")
                  input(type="text" placeholder=__("Pick-up line") v-model.lazy.trim="cv.attributes.title")
              div(class="col-12 col-md-4 col-sm-6")
                input(type="text" placeholder=__("First name") v-model.lazy.trim="cv.attributes.firstName")
              div(class="col-12 col-md-4 col-sm-6")
                input(type="text" placeholder=__("Last name") v-model.lazy.trim="cv.attributes.lastName")
              div(class="col-12 col-md-4 col-sm-6")
                input(type="date" v-model.lazy.trim="cv.attributes.birthdate")
              div(class="col-12 col-md-4 col-sm-6")
                input(type="email" placeholder=__("Email") v-model.lazy.trim="cv.attributes.email")
              div(class="col-12 col-md-4 col-sm-6")
                input(type="tel" placeholder=__("Phone number") v-model.lazy.trim="cv.attributes.phoneNumber")
              div(class="col-12 col-md-4 col-sm-6")
                input(type="url" placeholder=__("Website") v-model.lazy.trim="cv.attributes.website")
              div(class="col-12")
                textarea(placeholder=__("Address") v-model.lazy.trim="cv.attributes.address")
              div(class="col-12")
                h2= __("Professional Background")
                - let events = "cv.attributes.experiences";
                include App/Event
              div(class="col-12")
                h2= __("Education")
                - events = "cv.attributes.educations";
                include App/Event
              div(class="col-12")
                h2= __("Miscellaneous")
                - events = "cv.attributes.miscellaneous";
                include App/Event
              div(class="col-12")
                h2= __("Skills")
                - let sections = "cv.attributes.skills";
                include App/Section
              div(class="col-12")
                h2= __("Interests")
                - sections = "cv.attributes.interests";
                include App/Section
    div(class="fullscreen-cv-carousel")
      div(class="container")
        div(class="row justify-content-center")
          div(class="col col-xl-8")
            div(class="carousel")
              img(class="cv-image cv-pivot-picture")
              img(class="cv-image cv-pivot-picture")
              img(class="cv-image cv-pivot-picture")
    script.
      const redirect = () => {
        window.location = "https://id.digitalleman.com?l=!{cv.attributes.locale}&r=cv.digitalleman.com%2F!{cv.attributes.locale}%2F!{cv.id}";
      }
      const getToken = () => {
        let match = document.cookie.match(/t=([^;]+)/);
        if (match && match[1]) {
          return match[1];
        } else {
          redirect();
        }
      }
    include App/Vue
    include App/Socket