extends layout

block content
  div(class="container")
    form(action=`/${language}/${cvID}/${componentType}${component ? `/${component.id}` : ''}` class="ds-form" method="post")
      div(class="row")
        div(class="col-12 col-sm-6")
          div(class="_ds-form text")
            label(for="title")= __("Title")
            input(id="title" name="title" type="text" value=component ? component.title : false)
      div(class="row")
        if ['educations', 'experiences', 'miscellaneous'].includes(componentType)
          div(class="col-12 col-md-4 col-sm-6")
            div(class="_ds-form text")
              label(for="startDate")= __("From")
              input(id="startDate" name="startDate" type="month" value=component ? component.startDate.substring(0, 7) : false)
          div(class="col-12 col-md-4 col-sm-6")
            div(class="_ds-form text")
              label(for="endDate")= __("To")
              input(id="endDate" name="endDate" type="month" value=component ? component.endDate.substring(0, 7) : false)
          div(class="col-12")
            div(class="_ds-form text")
              label(for="description")= __("Description")
              textarea(id="description" name="description")= component ? component.description : ''
        if ['interests', 'skills'].includes(componentType)
          div(class="col-12")
            div(class="_ds-form text")
              label(for="description")= __("Description")
              textarea(id="description" name="description")= component ? component.text : ''
        div(class="col-12")
          button(class="ds-link" type="submit")
            div(class="_ds-link body")
              div(class="_ds-link title")= __('Save')
            div(class="_ds-link action-icon")
              i(class="bi bi-box-arrow-in-right")
        if component
          div(class="col-12")
            button(class="ds-link-small" name="delete" type="submit" value="true")
              div(class="_ds-link body")
                div(class="_ds-link-small title")= __('Delete')
              div(class="_ds-link action-icon")
                i(class="bi bi-chevron-right")
      input(name="list" required type="hidden" value=JSON.stringify(components || []))