extends layout.pug

block content
  include pivot-picture/mixins
  style.
    .header, .left, .dates {
      background-color: #487d9610;
    }
    .line {
      background-color: #487d96;
    }
  div(class="container-fluid")
    div(class="row header")
      div(class="col-4")
        if cv.data.attributes.image.data
          img(src=`https://api.digitalleman.com/v2/assets/${cv.data.attributes.image.data.attributes.slug}` width="100%" height="150px")
      div(class="col-8")
        if cv.data.attributes.firstName && cv.data.attributes.lastName
          h1= `${cv.data.attributes.firstName || ''} ${cv.data.attributes.lastName || ''}`
        if cv.data.attributes.title
          h2= cv.data.attributes.title
        div(class="line")
    div(class="content row")
      div(class="col-4")
        div(class="left")
          section
            h3= __("Contact")
            div(class="line")
            div(class="contact-attribute")
              span(class="highlight")= __("Phone number")
              br
              span= cv.data.attributes.phoneNumber
            div(class="contact-attribute")
              span(class="highlight")= __("Email")
              br
              span(class="address")= cv.data.attributes.email
            div(class="contact-attribute")
              span(class="highlight")= __("Address")
              br
              span= cv.data.attributes.address
            if cv.data.attributes.birthdate
              div(class="contact-attribute")
                span(class="highlight")= __("Date of Birth")
                br
                = `${cv.data.attributes.birthdate} - ${cv.data.attributes.age} ${__("y.o.")}`
            if cv.data.attributes.workPermit
              div(class="contact-attribute")
                = cv.data.attributes.workPermit
          if cv.data.attributes.skills.length
            section
              h3= __("Skills")
              div(class="line")
              each section in cv.data.attributes.skills
                +section(section)
          if cv.data.attributes.interests.length
            section
              h3= __("Interests")
              div(class="line")
              each section in cv.data.attributes.interests
                +section(section)
      div(class="col-8")
        div(class="right")
          if cv.data.attributes.experiences.length
            section
              h3= __("Professional Background")
              div(class="line")
              each event in cv.data.attributes.experiences
                +event(event)
          if cv.data.attributes.educations.length
            section
              h3= __("Education")
              div(class="line")
              each event in cv.data.attributes.educations
                +event(event)
          if cv.data.attributes.miscellaneous.length
            section
              h3= __("Miscellaneous")
              div(class="line")
              each event in cv.data.attributes.miscellaneous
                +event(event)