mixin event(event)
  div(class="row")
    div(class="col-12 col-sm-6")
      div(class="_ds-form text")
        label(for="title")= __("Title")
        input(id="title" name="title" type="text" value=event.title)
    div(class="col-6 col-sm-3")
      div(class="_ds-form text")
        label(for="month")= __("Title")
        input(id="month" name="month" type="month" value=event.startDate ? event.startDate.substring(0, 7) : "")
    div(class="col-6 col-sm-3")
      div(class="_ds-form text")
        label(for="month")= __("Title")
        input(id="month" name="month" type="month" value=event.endDate ? event.endDate.substring(0, 7) : "")
    div(class="col-12")
      div(class="_ds-form text")
        label(for="description")= __("Description")
        textarea(name="description" placeholder=__("Description"))= event.description
    div(class="col-2 col-sm-1")
      button(type="button" v-on:click=events + ".splice(index, 1)") x
  //-div(class="row")
    div(class="col-10 col-sm-11")
      div(class="row")
        div(class="col-12 col-sm-6")
          input(type="text" placeholder=__("Title") v-model.lazy.trim="draft." + events.split('.')[2] + ".title")
        div(class="col-6 col-sm-3")
          input(type="month")
        div(class="col-6 col-sm-3")
          input(type="month")
        div(class="col-12")
          textarea(placeholder=__("Description") v-model.lazy.trim="draft." + events.split('.')[2] + ".description" v-on:keyup="(event) => resizeTextarea(event.target)")
    div(class="col-2 col-sm-1")
      button(type="button" v-on:click="createEvent('" + events.split('.')[2] + "')") +

mixin section(section)
  div(class="row")
    div(class="col-12 col-sm-6")
      div(class="_ds-form text")
        label(for="title")= __("Title")
        input(id="title" name="title" type="text" value=section.title)
    div(class="col-12 col-sm-6")
      div(class="_ds-form text")
        label(for="description")= __("Description")
        textarea(id="description" name="description" placeholder=__("Description"))= section.text
  //-div(class="row")
    div(class="col-10 col-sm-11")
      div(class="row")
        div(class="col-12 col-sm-6")
          input(type="text" placeholder=__("Title") v-model.lazy.trim="draft." + sections.split('.')[2] + ".title")
        div(class="col-12")
          textarea(placeholder=__("Description") v-model.lazy.trim="draft." + sections.split('.')[2] + ".text" v-on:keyup="(event) => resizeTextarea(event.target)")
    div(class="col-2 col-sm-1")
      button(type="button" v-on:click="createSection('" + sections.split('.')[2] + "')") +