mixin event(event)
  div(class="event")
    div(class="dates")= `${localeMonth(event.startDate)} - ${localeMonth(event.endDate)}`
    div(class="title")= event.title
    div(class="subtitle")= event.subtitle
    div(class="description")= event.description

mixin section(section)
  div(class="section")
    div= section.title
    div(class="text")= section.text